/***********************************

            Filtro

***********************************/

.filtro-container{
    /* background-color: yellow; */
    width: 100%;
    height: 25vh;

    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.filtroSpace {
    /* background-color: blue; */
    position: relative;
    bottom: 10vh;
    width: 95%;
    height: 25vh;
}

.filtroSpace h1 {
    position: relative;
    top: 10vh;
    font-size: 3rem;
    font-weight: 900; 
}

.filtroSpace span {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 1rem;   
}

.filtroSpace span img {
    width: 1vw;
    height: auto;
}

.filtroSpace h5 {
    font-size: 1.25rem;
}

.filtroMenu { 
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
}

/* .gallery-filter .filter-item {
    font-size: 1rem;
} */

.gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}


/***********************************

        Galeria del Menu

***********************************/

.menuGallery { 
    background-color: #343A40;
    width: 100%;
    min-height: 100vh;
    margin-top: 16vh;
    padding-bottom: 10vh;
}

.galleryContainer {
	max-width: 95%;
	margin:0 auto;

	display: block;
	min-height: 100vh;
	background-color: #343A40;
}

.categoryTitle {
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
}

img {
	max-width: 100%;
	vertical-align: middle;
    /* transition: transform 0.3s ease; */
}



.gallery-item{
	width: calc(100% / 3);
    transition: transform 0.3s ease;
    /* padding: 2px; */
}


.gallery-item-inner {
    position: relative;
}

.gallery-item-inner img{
	width: 100%;
    height: 100%;
    
}

.gallery-item.show{
    
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery-item.hide{
	display: none;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.gallery-item:hover {
    transform: scale(1); 
}  


  
.gallery-item:hover .image-overlay {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  

/*responsive*/
@media(max-width: 991px){
    .galleryContainer {
        max-width: 90%;  
    }

	.gallery-item{
		width: 50%;
	}
}
@media(max-width: 767px){
    .galleryContainer {
        max-width: 85%;  
    }

    .gallery-item{
		width: 100%;
	}	
	.gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}


.footerMenu {
   /*  position: relative;
    top: 100vh; */
    border-top: 1px solid #BFBFBF;
}

/*************** Pantallas Desktop/Tv o mayores 1440px *******************/
@media (min-width: 1441px) {
    /***********************************

            Filtro

***********************************/

.filtro-container{
    /* background-color: yellow; */
    width: 100%;
    height: 25vh;

    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.filtroSpace {
    /* background-color: blue; */
    position: relative;
    bottom: 10vh;
    width: 95%;
    height: 25vh;
}

.filtroSpace h1 {
    position: relative;
    top: 10vh;
    font-size: 6rem;
    font-weight: 900; 
}

.filtroSpace span {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 1rem;   
}

.filtroSpace span img {
    width: 1vw;
    height: auto;
}

.filtroSpace h5 {
    font-size: 2.5rem;
}

.filtroMenu { 
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
}

.gallery-filter .filter-item {
    font-size: 1.5rem;
}

.gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}

/***********************************

        Galeria del Menu

***********************************/
.categoryTitle {
    color: #fff;
    font-size: 4rem;
    text-transform: capitalize;
}
}

/*************** Pantallas Laptop,  1024px *******************/
@media (max-width: 1024px) {
      /***********************************

            Filtro

***********************************/

.filtro-container{
    /* background-color: yellow; */
    width: 100%;
    height: 30vh;

    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.filtroSpace {
    /* background-color: blue; */
    position: relative;
    bottom: 10vh;
    width: 95%;
    height: 30vh;
}



}


/*************** Pantallas Laptop,  1024px *******************/
@media (max-width: 900px) {
/***********************************

            Filtro

***********************************/

.filtro-container{
   /*  background-color: yellow; */
    width: 100%;
    min-height: 10vh;
    max-height: 40vh;

    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.filtroSpace {
    /* background-color: blue; */
    position: relative;
    bottom: 10vh;
    width: 95%;
    height: 40vh;
}

.filtroSpace h1 {
    position: relative;
    top: 7vh;
    font-size: 3rem;
    font-weight: 900; 
}

.filtroSpace span {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 1rem;   
}

.filtroSpace span img {
    width: 2vw;
    height: auto;
}

.filtroSpace h5 {
    font-size: 1.25rem;
}

.filtroMenu { 
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
}

/* .gallery-filter .filter-item {
    font-size: 1rem;
} */

.gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}

/***********************************

        Galeria del Menu

***********************************/

.menuGallery { 
    background-color: #343A40;
    width: 100%;
    min-height: 100vh;
    margin-top: 0vh;
    padding-bottom: 10vh;
}

}



/*************** Pantallas Laptop,  1024px *******************/
@media (max-width: 600px) {
    /***********************************
    
                Filtro
    
    ***********************************/
    
    .filtro-container{
        /* background-color: yellow; */
        width: 100%;
        height: 50vh;
    
        display: flex;
        justify-content: center;
        /* align-items: top; */
    }
    
    .filtroSpace {
        /* background-color: blue; */
        position: relative;
        bottom: 10vh;
        width: 95%;
        height: 55vh;
    }
    
    .filtroSpace h1 {
        position: relative;
        top: 7vh;
        font-size: 3rem;
        font-weight: 900; 
    }
    
    .filtroSpace span {
        display: flex;
        align-items: center;
        justify-content: left; 
        gap: 1rem;   
    }
    
    .filtroSpace span img {
        width: 2vw;
        height: auto;
    }
    
    .filtroSpace h5 {
        font-size: 1.25rem;
    }
    
    .filtroMenu { 
        display: flex;
        align-items: center;
        justify-content: center;   
        width: 100%;
    }
    
    /* .gallery-filter .filter-item {
        font-size: 1rem;
    } */
    
    .gallery-filter .filter-item.active{
        color: #ff9800;
        border-color : #ff9800;
    }
    
    /***********************************
    
            Galeria del Menu
    
    ***********************************/
    
    .menuGallery { 
        background-color: #343A40;
        width: 100%;
        min-height: 100vh;
        margin-top: 8vh;
        padding-bottom: 10vh;
    }
    
    }


    /*************** Pantallas Laptop,  1024px *******************/
@media (max-width: 320px) {
    /***********************************
    
                Filtro
    
    ***********************************/
    
    .filtro-container{
        /* background-color: yellow; */
        width: 100%;
        height: 50vh;
    
        display: flex;
        justify-content: center;
        /* align-items: top; */
    }
    
    .filtroSpace {
        /* background-color: blue; */
        position: relative;
        bottom: 10vh;
        width: 95%;
        height: 70vh;
    }
    
    .filtroSpace h1 {
        position: relative;
        top: 7vh;
        font-size: 2rem;
        font-weight: 900; 
    }
    
    .filtroSpace span {
        display: flex;
        align-items: center;
        justify-content: left; 
        gap: 1rem;   
    }
    
    .filtroSpace span img {
        width: 4vw;
        height: auto;
    }
    
    .filtroSpace h5 {
        font-size: 1.25rem;
    }
    
    .filtroMenu { 
        display: flex;
        align-items: center;
        justify-content: center;   
        width: 100%;
    }
    
    /* .gallery-filter .filter-item {
        font-size: 1rem;
    } */
    
    .gallery-filter .filter-item.active{
        color: #ff9800;
        border-color : #ff9800;
    }
    
    /***********************************
    
            Galeria del Menu
    
    ***********************************/
    
    .menuGallery { 
        background-color: #343A40;
        width: 100%;
        min-height: 100vh;
        margin-top: 20vh;
        padding-bottom: 10vh;
    }
    
    }


    /*************** Pantallas tablet, por ALTURA 768px *******************/
@media (min-height: 1350px) {
        /***********************************

            Filtro

***********************************/

.filtro-container{
    /* background-color: yellow; */
    width: 100%;
    height: 30vh;

    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.filtroSpace {
    /* background-color: blue; */
    position: relative;
    bottom: 5vh;
    width: 95%;
    height: 30vh;
}

.filtroSpace h1 {
    position: relative;
    top: 5vh;
    font-size: 3rem;
    font-weight: 900; 
}

.filtroSpace span {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 1rem;   
}

.filtroSpace span img {
    width: 2vw;
    height: auto;
}

.filtroSpace h5 {
    font-size: 1.25rem;
}

.filtroMenu { 
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
}

/* .gallery-filter .filter-item {
    font-size: 1rem;
} */

.gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}

/***********************************

        Galeria del Menu

***********************************/

.menuGallery { 
    background-color: #343A40;
    width: 100%;
    min-height: 100vh;
    margin-top: -5vh;
    padding-bottom: 10vh;
}


}
