
.swiper {
    width: 100%;
    height: 100%;

    z-index: 100;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .swiper-slide img.mySwiper1-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
    z-index: 100;
  }
  
  .mySwiper-gallery {
    width: 50vw !important;
    height: 10vw;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper-gallery .swiper-slide {
    width: 50%;
    height: 100%;
    opacity: 0.5;
  }
  
  .mySwiper-gallery .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img.mySwiper2-img {
    display: block;
    width: 100%;
    height: 80vh;
    /* object-fit: cover; */
  }
  
  
  /*************** Pantallas tablet (768px) y tablet L (1024px) con orientacion vertical  *******************/
  @media (min-width: 750px) and (max-width: 1025px) and (orientation: portrait) { 
    
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .swiper-slide img.mySwiper1-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper-gallery {
    width: 50vw !important;
    height: 15vw;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper-gallery .swiper-slide {
    width: 50%;
    height: 100%;
    opacity: 0.5;
  }
  
  .mySwiper-gallery .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img.mySwiper2-img {
    display: block;
    width: 100%;
    height: 50vh;
    /* object-fit: cover; */
  }
  }
  
  /*************** Pantallas Movil con orientacion vertical  *******************/
  @media (max-width: 749px) and (orientation: portrait) { 
    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      
      .swiper-slide img.mySwiper1-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      
      .mySwiper2 {
        height: 80%;
        width: 100%;
      }
      
      .mySwiper-gallery {
        width: 60vw !important;
        height: 15vw;
        box-sizing: border-box;
        padding: 10px 0;
      }
      
      .mySwiper-gallery .swiper-slide {
        width: 50%;
        height: 100%;
        opacity: 0.5;
      }
      
      .mySwiper-gallery .swiper-slide-thumb-active {
        opacity: 1;
      }
      
      .swiper-slide img.mySwiper2-img {
        display: block;
        width: 100%;
        height: 25vh;
        /* object-fit: cover; */
      }
  }
  